<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Food Tracker App</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet"> 
        <style>

            * {
                font-family: 'Ubuntu', sans-serif;
            }

            #navbarSupportedContent{
                float: right;
            }

            #link-txt, #navbar-main-txt {
                color: white;
            }

            .col-6 {
                padding-top: 20px;
            }

            .btn-lg {
                width: 100%;
            }

            .card-header {
                color: white;
            }

      
        </style>
   
    </head>
    <body>

        <nav class="navbar navbar-expand-md navbar-light" style="background: #fecd00">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" id="navbar-main-txt">Food Tracking Prototype</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="link-txt" class="nav-link" href="{% url 'index' %}">home</a>
                    </li>
                    <li class="nav-item">
                        <a id="link-txt" class="nav-link" href="{% url 'stats' %}">stats</a>
                    </li>
                    </ul>
                </div>
                </div>
            </div>
          </nav>


        <div class="container">

            <div class="mt-2 border-primary">
                <div class="row">
                    <div class="col-6">
                        <form action="{% url 'statsload' %}" method="POST">
                            {% csrf_token %}
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Date From:</label>
                            <select name="date_from" class="form-select" id="inputGroupSelect01">
                            <option value="011122" selected>01/11/22</option>
                            <option value="021122">02/11/22</option>
                            <option value="031122">03/11/22</option>
                            <option value="041122">04/11/22</option>
                            <option value="051122">05/11/22</option>
                            <option value="061122">06/11/22</option>
                            <option value="071122">07/11/22</option>
                            <option value="081122">08/11/22</option>
                            <option value="091122">09/11/22</option>
                            <option value="101122">10/11/22</option>
                            <option value="111122">11/11/22</option>
                            <option value="121122">12/11/22</option>
                            <option value="131122">13/11/22</option>
                            <option value="141122">14/11/22</option>
                            <option value="151122">15/11/22</option>
                            <option value="161122">16/11/22</option>
                            <option value="171122">17/11/22</option>
                            <option value="181122">18/11/22</option>
                            <option value="191122">19/11/22</option>
                            <option value="201122">20/11/22</option>
                            <option value="211122">21/11/22</option>
                            <option value="221122">22/11/22</option>
                            <option value="231122">23/11/22</option>
                            <option value="241122">24/11/22</option>
                            <option value="251122">25/11/22</option>
                            <option value="261122">26/11/22</option>
                            <option value="271122">27/11/22</option>
                            <option value="281122">28/11/22</option>
                            <option value="291122">29/11/22</option>
                            <option value="301122">30/11/22</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="inputGroupSelect01">Date To:</label>
                            <select name="date_to"class="form-select" id="inputGroupSelect01">
                                <option value="011122">01/11/22</option>
                                <option value="021122" selected>02/11/22</option>
                                <option value="031122">03/11/22</option>
                                <option value="041122">04/11/22</option>
                                <option value="051122">05/11/22</option>
                                <option value="061122">06/11/22</option>
                                <option value="071122">07/11/22</option>
                                <option value="081122">08/11/22</option>
                                <option value="091122">09/11/22</option>
                                <option value="101122">10/11/22</option>
                                <option value="111122">11/11/22</option>
                                <option value="121122">12/11/22</option>
                                <option value="131122">13/11/22</option>
                                <option value="141122">14/11/22</option>
                                <option value="151122">15/11/22</option>
                                <option value="161122">16/11/22</option>
                                <option value="171122">17/11/22</option>
                                <option value="181122">18/11/22</option>
                                <option value="191122">19/11/22</option>
                                <option value="201122">20/11/22</option>
                                <option value="211122">21/11/22</option>
                                <option value="221122">22/11/22</option>
                                <option value="231122">23/11/22</option>
                                <option value="241122">24/11/22</option>
                                <option value="251122">25/11/22</option>
                                <option value="261122">26/11/22</option>
                                <option value="271122">27/11/22</option>
                                <option value="281122">28/11/22</option>
                                <option value="291122">29/11/22</option>
                                <option value="301122">30/11/22</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary btn-lg">GENERATE</button>
                    </div>
                </div>
            </div>
            </form>

            </div>

            <div class="container-fluid" style="display:{{display}}">

            <div class="row mt-5">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header bg-primary">
                            Combined Bar Chart Representation
                          </div>
                          <div class="card-body">
                            <canvas id="barchart"></canvas>
                          </div>
                          </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header  bg-primary">
                          Pie Chart Representation
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <canvas id="piechart1"></canvas>

                                </div>
                                <div class="col-6">
                                    <canvas id="piechart2"></canvas>

                                    
                                </div>

                            </div>
                        </div>
                      </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header  bg-primary">
                          Line Graph Representation
                        </div>
                        <div class="card-body">
                            <canvas id="linegraph"></canvas>
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="card">
                        <div class="card-header  bg-primary">
                          Scatter Representation
                        </div>
                        <div class="card-body">
                            <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <canvas id="scatter1"></canvas>
                                </div>
                                  <div class="carousel-item">
                                    <canvas id="scatter2"></canvas>
                                </div>
                                  <div class="carousel-item">
                                    <canvas id="scatter3"></canvas>
                                </div>
                                </div>
                                <button style="position: absolute; top: -10px; background: red; height: 50px;" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Previous</span>
                                </button>
                                <button style="position: absolute; top: -10px; background: red; height: 50px;" class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Next</span>
                                </button>
                              </div>


                        </div>
                      </div>
                </div>
            </div>
            </div>


            </div>
        </div>


    <br /><br /><br /><br />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>


    {% if b_chart_avgdairy %}
    

    const barchart = document.getElementById('barchart');

    new Chart(barchart, {
        type: 'bar',
        data: {
  labels: ["Dairy", "Gluten", "Sugar", "Nausea", "Fatigue", "Bloating"],
  datasets: 
    [{
    label: 'My First Dataset',
    data: ['{{ b_chart_avgdairy }}', '{{ b_chart_avggluten }}', '{{ b_chart_avgsugar }}','{{ b_chart_avgnausea }}','{{ b_chart_avgfatigue }}','{{ b_chart_avgbloated }}'],
    backgroundColor: [
        'rgba(103, 22, 176)',
        'rgba(7, 62, 23)',
        'rgba(9, 4, 70)',
        'rgba(212, 245, 200)',
        'rgba(195, 201, 254)',
        'rgba(254, 226, 226)',
    ],
    borderWidth: 1
  }]},
  options: {
        plugins: {
            legend: {
                display: false
            },
            title: {
                    display: true,
                    text: "Averages of Measurements over Time Period"
                }
        }
    }
    })

    const piechart1 = document.getElementById('piechart1');

    new Chart(piechart1, {
        type: 'pie',
        data: {
            labels: [
                'Dairy',
                'Gluten',
                'Sugar'
            ],
    datasets: [{
    label: 'Total Food Magnitudes for Time Period',
    data: ['{{ p_chart_totaldairy }}', '{{ p_chart_totalgluten }}', '{{ p_chart_totalsugar }}'],
    backgroundColor: [
     'rgba(9, 4, 70)',
     'rgba(103, 22, 176)',
     'rgba(7, 62, 23)',
    ],
    hoverOffset: 4
  }]
        },
        options: {
        indexAxis: 'y',
        scales: {
            y: {
            beginAtZero: true,
            display: false,
            }
        },

        plugins: {
            title: {
                    display: true,
                    text: "Total Food Intake Measurements for Time Period"
                }
        }
        
        }, 
    });

    const piechart2 = document.getElementById('piechart2');

    new Chart(piechart2, {
        type: 'pie',
        data: {
            labels: [
                'Nausea',
                'Fatigue',
                'Bloating'
            ],
    datasets: [{
    label: 'Total Symptom Magnitudes for Time Period',
    data: ['{{ p_chart_totalnausea }}', '{{ p_chart_totalfatigue }}', '{{ p_chart_totalbloating }}'],
    backgroundColor: [
        'rgba(212, 245, 200)',
        'rgba(195, 201, 254)',
        'rgba(254, 226, 226)',
    ],
    hoverOffset: 4
  }]
        },
        options: {
            plugins: {
            title: {
                    display: true,
                    text: "Total Symptom Measurements for Time Period"
                }
        },
        indexAxis: 'y',
        scales: {
            y: {
            beginAtZero: true,
            display: false,
            }
        }
        }
    });


    const scatter1 = document.getElementById('scatter1');
    const scatter2 = document.getElementById('scatter2');
    const scatter3 = document.getElementById('scatter3');



    var nausea_dairy = {{ nausea_scatter_dairy }};
    var nausea_dairy_data = []

    if(nausea_dairy.length > 0){
    for (var i = 0; i < nausea_dairy.length; i += 1) {
        nausea_dairy_data.push({x: nausea_dairy[i][0], y: nausea_dairy[i][1]})
    }}

    var nausea_gluten= {{ nausea_scatter_gluten }};
    var nausea_gluten_data = []

    if(nausea_gluten.length > 0){
    for (var i = 0; i < nausea_gluten.length; i += 1) {
        nausea_gluten_data.push({x: nausea_gluten[i][0], y: nausea_gluten[i][1]})
    }}


    var nausea_sugar = {{ nausea_scatter_sugar }};
    var nausea_sugar_data = []

    if(nausea_sugar.length > 0){
    for (var i = 0; i < nausea_sugar.length; i += 1) {
        nausea_sugar_data.push({x: nausea_sugar[i][0], y: nausea_sugar[i][1]})
    }
}


var nausea_dataset = [
    {
      label: 'Dairy',
      data:  nausea_dairy_data,
      backgroundColor: 'rgba(9, 4, 70)',
    },
    {
      label: 'Gluten',
      data:  nausea_gluten_data,
      backgroundColor: 'rgba(103, 22, 176)',
    },
    {
      label: 'Sugar',
      data:  nausea_sugar_data,
      backgroundColor: 'rgba(7, 62, 23)',
    },
  ]



    var fatigue_dairy = {{ fatigue_scatter_dairy }};
    var fatigue_dairy_data = []

    if(fatigue_dairy.length > 0) {
    for (var i = 0; i < fatigue_dairy.length; i += 1) {
        fatigue_dairy_data.push({x: fatigue_dairy[i][0], y: fatigue_dairy[i][1]})
    }
}

    var fatigue_gluten= {{ fatigue_scatter_gluten }};
    var fatigue_gluten_data = []

    if(fatigue_gluten.length > 0) {
    for (var i = 0; i < fatigue_gluten.length; i += 1) {
        fatigue_gluten_data.push({x: fatigue_gluten[i][0], y: fatigue_gluten[i][1]})
    }
    }
    var fatigue_sugar = {{ fatigue_scatter_sugar }};
    var fatigue_sugar_data = []


    if(fatigue_sugar.length > 0) {
    for (var i = 0; i < fatigue_sugar.length; i += 1) {
        fatigue_sugar_data.push({x: fatigue_sugar[i][0], y: fatigue_sugar[i][1]})
    }
}
    


  var fatigue_dataset = [
    {
      label: 'Dairy',
      data:  fatigue_dairy_data,
      backgroundColor: 'rgba(9, 4, 70)',
    },
    {
      label: 'Gluten',
      data:  fatigue_gluten_data,
      backgroundColor: 'rgba(103, 22, 176)',
    },
    {
      label: 'Sugar',
      data:  fatigue_sugar_data,
      backgroundColor: 'rgba(7, 62, 23)',
    },
  ]




var bloating_dairy = {{ bloating_scatter_dairy }};
var bloating_dairy_data = []


if(bloating_dairy.length > 0) {
for (var i = 0; i < bloating_dairy.length; i += 1) {
    bloating_dairy_data.push({x: bloating_dairy[i][0], y: bloating_dairy[i][1]})
}
}

var bloating_gluten= {{ bloating_scatter_gluten }};
var bloating_gluten_data = []

if(bloating_gluten.length > 0) {
for (var i = 0; i < bloating_gluten.length; i += 1) {
    bloating_gluten_data.push({x: bloating_gluten[i][0], y: bloating_gluten[i][1]})
}
}


var bloating_sugar = {{ bloating_scatter_sugar }};
var bloating_sugar_data = []

if(bloating_sugar.length > 0) {
for (var i = 0; i < bloating_sugar.length; i += 1) {
    bloating_sugar_data.push({x: bloating_sugar[i][0], y: bloating_sugar[i][1]})
}
}

var bloating_dataset = [
{
  label: 'Dairy',
  data:  bloating_dairy_data,
  backgroundColor: 'rgba(9, 4, 70)',
},
{
  label: 'Gluten',
  data:  bloating_gluten_data,
  backgroundColor: 'rgba(103, 22, 176)',
},
{
  label: 'Sugar',
  data:  bloating_sugar_data,
  backgroundColor: 'rgba(7, 62, 23)',
},
]



    new Chart(scatter1, {
        type: 'scatter',
        data: {
    datasets: nausea_dataset,
    },
        options: {
            ticks: {
                stepSize: 1,
                min: 0,
                max: 5,
            },
            scales: {
            x: {
                position: 'bottom',
                min: 0,
                max: 5,
                title: {
                    display: true,
                    text: "Magnitude of Nausea"
                }
            },
            y: {
                min: 0,
                max: 6,
                title: {
                    display: true,
                    text: "Magnitude of Food Intake"
                }
            },
            },
            plugins: {title: {
                display: true,
                text: 'Nausea Scatterplot'
            }}
        }
        });


        new Chart(scatter2, {
        type: 'scatter',
        data: {
    datasets: fatigue_dataset,
    },
    options: {
            ticks: {
                stepSize: 1,
                min: 0,
                max: 5,
            },
            scales: {
            x: {
                position: 'bottom',
                min: 0,
                max: 5,
                title: {
                    display: true,
                    text: "Magnitude of Fatigue"
                }
            },
            y: {
                min: 0,
                max: 6,
                title: {
                    display: true,
                    text: "Magnitude of Food Intake"
                }
            },
            },
            plugins: {title: {
                display: true,
                text: 'Fatigue Scatterplot'
            }}
        }
        });



        new Chart(scatter3, {
        type: 'scatter',
        data: {
    datasets: bloating_dataset,
    },
    options: {
            ticks: {
                stepSize: 1,
                min: 0,
                max: 5,
        },
            scales: {
            x: {
                position: 'bottom',
                min: 0,
                max: 5,
                title: {
                    display: true,
                    text: "Magnitude of Bloating"
                },
            },
            y: {
                min: 0,
                max: 6,
                title: {
                    display: true,
                    text: "Magnitude of Food Intake"
                }            
            },
            },
            plugins: {title: {
                display: true,
                text: 'Bloating Scatterplot'
            }}
        }
        });

        

    var dates = {{dates|safe}}; 
    var dairy_ds = {{l_chart_dairy|safe}}; 
    var gluten_ds = {{l_chart_gluten|safe}}; 
    var sugar_ds = {{l_chart_sugar|safe}}; 
    var nausea_ds = {{l_chart_nausea|safe}}; 
    var fatigue_ds = {{l_chart_fatigue|safe}}; 
    var bloating_ds = {{l_chart_bloating|safe}}; 

    const linegraph = document.getElementById('linegraph');


    new Chart(linegraph, {
  type: 'line',
  data: {
    labels: dates,
    datasets: [{ 
        data: dairy_ds,
        label: "Dairy",
        borderColor: 'rgba(103, 22, 176)',
        fill: false
      }, { 
        data: gluten_ds,
        label: "Gluten",
        borderColor: 'rgba(7, 62, 23)',
        fill: false
      }, { 
        data: sugar_ds,
        label: "Sugar",
        borderColor: 'rgba(9, 4, 70)',
        fill: false
      }, { 
        data: nausea_ds,
        label: "Nausea",
        borderColor: 'rgba(212, 245, 200)',
        fill: false
      }, { 
        data: fatigue_ds,
        label: "Fatigue",
        borderColor: 'rgba(195, 201, 254)',
        fill: false
      },
      { 
        data: bloating_ds,
        label: "Bloating",
        borderColor: 'rgba(254, 226, 226)',
        fill: false
      }
    ]
  },
  options: {
    scales: {
    x: {
        title: {
                    display: true,
                    text: "Days over Time Period"
                }
    },
    y : {
        stepSize: 1,
        min: 0,
        title: {
                    display: true,
                    text: "Magnitude of Measurements"
                }
    }
    },
    plugins: {
        title: {
                    display: true,
                    text: "All Food Intake and Symptom Data over Time Period"
                }
    }
  }
});


{% endif %}


        



  
</script>
          
        
    </body>
</html>